name: Build and run tests
on: [push, pull_request]

jobs:
  build:
    env:
      RUST_LOG: debug
    name: Build and run tests
    runs-on: ubuntu-latest
    # Set the default working directory for all 'run' steps in this job
    defaults:
      run:
        working-directory: libwebauthn/
    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Update apt cache
        run: sudo apt-get update
      - name: Install system dependencies
        run: sudo apt-get install libudev-dev libdbus-1-dev libsodium-dev
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test --verbose
      - name: Install nfc dependencies
        run: sudo apt-get install libnfc-dev libpcsclite-dev
      - name: Build with nfc-support
        run: cargo build --features libnfc,pcsc
